In [21]:


import cobra

In [22]:
from cobra import Model,Reaction,Metabolite

In [23]:
model=Model('example')

In [24]:
###### v1 : A=====> B ###################################

v1=Reaction('v1')
v1.name='V1'
v1.lower_bound=0
v1.upper_bound=1000

In [25]:
###### v2 : B=====> c ###################################


v2=Reaction('v2')
v2.name='V2'
v2.lower_bound=0
v2.upper_bound=1000

In [26]:
###### v0 : =====> A ###################################

v0=Reaction('v0')
v0.name='V0'
v0.lower_bound=1
v0.upper_bound=1

In [27]:
###### M : C=====>  ###################################


M=Reaction('M')
M.name='M'
M.lower_bound=0
M.upper_bound=1000

In [28]:
###### ATP_R : A=====> ATP ###################################

ATP_R=Reaction('ATP_R')
ATP_R.name='ATP_R'
ATP_R.lower_bound=0
ATP_R.upper_bound=1000

In [29]:

###### V3 : ATP=====>  ###################################

v3=Reaction('v3')
ATP_R.name='v3'
ATP_R.lower_bound=.9
ATP_R.upper_bound=.9

In [30]:
A= Metabolite(
    'A',compartment='c')
B=Metabolite(
    'B',compartment='c')
C= Metabolite(
    'C',compartment='c')

In [31]:
ATP= Metabolite(
    'ATP',compartment='c')

In [32]:
###### Add metabolites in reaction V1 ###################################


v1.add_metabolites({A:-1,B:1})

###### Add metabolites in reaction V2 ###################################

v2.add_metabolites({B:-1,C:1})

In [33]:
###### Add metabolites in reaction V0 ###################################

v0.add_metabolites({A:1})

In [34]:
###### Add metabolites in reaction M ###################################

M.add_metabolites({C:-1})

In [35]:
###### Add metabolites in reaction ATP_R ###################################

ATP_R.add_metabolites({A:-1,ATP:1})

In [36]:
###### Add metabolites in reaction V3 ###################################

v3.add_metabolites({ATP:-1})

In [37]:
###### Add reactions in model  ###################################

model.add_reactions([v0,v1,ATP_R,v2,v3,M])

In [38]:
###### Put M as a objective function  ###################################

model.objective = 'M'

In [39]:
model.optimize()

In [40]:
model.summary()